{% load static %}
<section class="about_section layout_padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div class="detail-box pr-md-2">
        <div class="heading_container">
          <h2 class="">
            About Us
          </h2>
        </div>
        <p class="detail_p_mt">
          {{ text_about|safe }}
        </p>
        {% if '/about/' not in request.path %}
        <a href="{% url 'home:about' %}" class="">
          Read More
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6 px-0">
      <div class="img-box ">
        <img src="{{ image_about.url }}" class="box_img" alt="about img">
      </div>
    </div>
  </div>
</div>
</section>
