  <section class="info_section ">
    <div class="container">
      <div class="info_top">
        <div class="row">
          <div class="col-md-3 ">
            <a class="navbar-brand" href="{% url 'home:home' %}">
              Finter
            </a>
          </div>
          <div class="col-md-5 ">
            <div class="info_contact">
              <a href="https://maps.app.goo.gl/Z3FwMEadPTmS4CCz7">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="tel:+974-50-275-843">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +974-50-275-843
                </span>
              </a>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="social_box">
              <a href="https://t.me/I_will_build_an_empire">
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/nazarboy2005/">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/nazarboy-rakhmonov">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/nazarboy_raxmonov/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="info_bottom">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="info_detail">
              <h5>
                Company
              </h5>
              <p>
FINTER delivers expert welding services for cars, homes, machinery, and motorcycles. We prioritize quality, precision, and customer satisfaction for reliable, lasting results.              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info_form">
              <h5>
                NEWSLETTER
              </h5>
              <form method="post" action="{% url 'home:subscribe' %}?next={{request.get_full_path|urlencode}}">
                {% csrf_token  %}
                <input type="text" name="subscriber_email" placeholder="Enter Your Email" />
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="info_detail">
              <h5>
                Services
              </h5>
              <p>
From repairs to custom fabrication, our services cover all welding needs for vehicles, homes, and machinery with a focus on precision and efficiency.              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <div class="">
              <h5>
                Useful links
              </h5>
              <ul class="info_menu">
                <li>
                  <a href="{% url 'home:home' %}">
                    Home
                  </a>
                </li>
                <li>
                  <a href="{% url 'home:about' %}">
                    About
                  </a>
                </li>
                <li>
                  <a href="{% url 'home:services' %}">
                    Services
                  </a>
                </li>
                <li>
                  <a href="{% url 'home:team' %}">
                    Team
                  </a>
                </li>
                <li class="mb-0">
                  <a href="{% url 'home:contact' %}">
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://www.linkedin.com/in/nazarboy-rakhmonov">Nazarboy Rakhmonov</a>
      </p>
    </div>
  </footer>