{% load static %}
<section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center ">
        <h2 class="">
          Our Services
        </h2>
        <p class="col-lg-8 px-0">
          We specialize in a range of professional welding services tailored to meet various needs. From enhancing the durability of machinery and home fixtures to ensuring the structural integrity of vehicles, our expert team delivers high-quality welding solutions you can rely on. With a focus on precision and longevity, we provide:
          </p>
      </div>
      <div class="service_container">
        <div class="carousel-wrap ">
          <div class="service_owl-carousel owl-carousel">
            {% for service in services %}
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="{{ service.image.url }}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    {{service.name}}
                  </h5>
                  <p>
                    {{service.description}}
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>