{% load static %}
<!-- team section -->
<section class="team_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Team
        </h2>
        <p>
          At Finter, our skilled professionals specialize in car, home, machine, and moto welding. Dedicated to quality and precision, we bring your projects to life with reliability and expertise you can trust.
        </p>
      </div>
      <div class="row">
        {% for worker in workers %}
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{worker.image.url}}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                {{worker.name}}
              </h5>
              <h6 class="">
                {{worker.position}}
              </h6>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>